<h1 class="mt-4">Processo</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">    
    <form #processoForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">ID</span>
                    </div>
                    <input type="text" class="form-control" disabled="true" [ngModel]="objeto.id" name="id">
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Cadastro</span>
                    </div>
                    <input type="text" class="form-control" disabled="true" [ngModel]="objeto.dataCadastro" name="dataCadastro">
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empresa</button>
                      <div class="dropdown-menu">
                        <div *ngFor="let empresa of empresas">
                            <a class="dropdown-item" (click)="selecionarEmpresa(empresa.id)">{{ empresa.nomeReduzido }}</a>
                        </div>                        
                      </div>
                    </div>
                    <input type="text" class="form-control" disabled="true" aria-label="Selecione o setorno combo ao lado" [ngModel]="objeto.empresa.nomeReduzido">
                  </div>
            </div>                                       
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Setor</button>
                      <div class="dropdown-menu">
                        <div *ngFor="let setor of setores">
                            <a class="dropdown-item" (click)="selecionarEmpresa(setor.id)">{{ setor.descricao }}</a>
                        </div>                        
                      </div>
                    </div>
                    <input type="text" class="form-control" disabled="true" aria-label="Selecione o setorno combo ao lado" [ngModel]="objeto.setor.descricao">
                  </div>
            </div>    
        </div>   
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Descrição</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="objeto.descricao" name="descricao">
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Formula</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="objeto.formula" name="formula">
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Observação</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="objeto.observacao" name="observacao">
                </div>
            </div>   
        </div>     
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary">Salvar</button>
                <button type="reset" class="btn btn-secondary ml-1">Limpar</button>
            </div>
        </div>      
    </form>
</div>
