<h1 class="mt-4">Acesso</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">    
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-6">
                <div class="deom-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="acesso.id" name=""id>
                </div>
            </div>
            <div class="col-md-6">
                <div class="deom-group">
                    <label>Data Cadastro:</label>
                    <input type="text" class="form-control" disabled="true" [ngModel]="acesso.dataCadastro" name="dataCadastro">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="deom-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" [(ngModel)]="acesso.id_perfil" name="nome" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="deom-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" [(ngModel)]="acesso.id_menu" name="cpf">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="deom-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" [(ngModel)]="acesso.leitura" name="nome" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="deom-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" [(ngModel)]="acesso.gravacao" name="cpf">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <br/>
            </div>                
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success" >
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>                
        </div>
    </form>
</div>