<h1 class="mt-4">Empresa</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">    
    <form #empresaForm="ngForm" (ngSubmit)="onSubmit()">  
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="errros.length>0">
                    {{errros}}
                </div>
            </div>
        </div>      
        <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">ID</span>
                    </div>
                    <input type="text" class="form-control" disabled="true" [ngModel]="objeto.id" name="id">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Cadastro</span>
                    </div>
                    <input type="text" class="form-control" disabled="true" [ngModel]="objeto.dataCadastro" name="dataCadastro">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Código</span>
                    </div>
                    <input type="text" class="form-control" disabled="true" [ngModel]="codigoEmpresa" name="codigoEmpresa">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Razão Social*</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" [(ngModel)]="objeto.razaoSocial" name="razaoSocial">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Nome Reduzido*</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" [(ngModel)]="objeto.nomeReduzido" name="nomeReduzido">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">CNPJ</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="objeto.cnpj" name="cnpj">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Inscrição Estadual</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="objeto.inscricaoEstadual" name="inscricaoEstadual">
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">CEP</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="objeto.cep" name="cep" (keyup)="localizarCep()">
                </div>
            </div>
            <div class="col-md-9">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Rua</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" [(ngModel)]="objeto.rua" name="rua">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Bairro</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" [(ngModel)]="objeto.bairro" name="bairro">
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Municipio</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" [(ngModel)]="objeto.municipio" name="municipio">
                </div>
            </div>            
            <div class="col-md-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">UF</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" [(ngModel)]="objeto.uf" name="uf">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Pasta</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="objeto.pasta" name="pasta">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Pasta Historico</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="objeto.pastaHistorico" name="pastaHistorico">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Codigo Barras</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="objeto.codigoBarras" name="codigoBarras">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="reset" class="btn btn-secondary ml-1">Limpar</button>
            </div>
        </div>              
    </form>
</div>
