<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">nome_dia, dd MM YYYY</div>
                <a class="nav-link" routerLink="/home">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Dashboard
                </a>
                
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGlobal" aria-expanded="false" aria-controls="collapseGlobal">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>GLOBAL
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseGlobal" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="/carteiras-form">Carteiras</a>
                        <a class="nav-link" routerLink="/devolucoes-form">Devoluções</a>
                        <a class="nav-link" routerLink="/faturamentos-form">Faturamentos</a>
                        <a class="nav-link" routerLink="/prazo-entregas-form">Prazos de Entrega</a>
                        <a class="nav-link" routerLink="">Produção Geral</a>
                        <a class="nav-link" href="/reprogramacoes-form">Reprogramações & Retrabalhos</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFerramentas" aria-expanded="false" aria-controls="collapseFerramentas">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>FERRAMENTAS
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseFerramentas" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="#">Folha de Observações</a>                        
                        <a class="nav-link" routerLink="#">Fluxograma</a>                        
                        <a class="nav-link" routerLink="#">LSC & LSI</a>                        
                        <a class="nav-link" routerLink="#">Matriz BCG</a>                        
                        <a class="nav-link" routerLink="#">Pops</a>                        
                    </nav>
                </div>
                
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRelatorios" aria-expanded="false" aria-controls="collapseRelatorios">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>RELATÓRIOS
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseRelatorios" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="#">-</a>                        
                                               
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSetores" aria-expanded="false" aria-controls="collapseSetores">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>SETORES
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseSetores" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" routerLink="#">-</a>                        
                                               
                    </nav>
                </div>
                
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                    ><div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    CONFIGURAÇÕES
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                ></a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseCadastro" aria-expanded="false" aria-controls="pagesCollapseCadastro"
                            >Cadastros
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                        ></a>
                        <div class="collapse" id="pagesCollapseCadastro" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" routerLink="empresas-form">Empresa</a>
                                <a class="nav-link" routerLink="linha-producoes-form">Linha de Produção</a>
                                <a class="nav-link" routerLink="maquinas-form">Máquina</a>
                                <a class="nav-link" routerLink="materia-primas-form">Matéria Prima</a>
                                <a class="nav-link" routerLink="motivo-reprogramacoes-form">Motivo Reprogramação</a>
                                <a class="nav-link" routerLink="funcionarios-form">Funcionário</a>
                                <a class="nav-link" routerLink="ponto-controles-form">Ponto de Controle</a>
                                <a class="nav-link" routerLink="processos-form">Processo</a>
                                <a class="nav-link" routerLink="produtos-form">Produto</a>
                                <a class="nav-link" routerLink="setores-form">Setor</a>
                                <a class="nav-link" routerLink="unidades-form">Unidade</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseTabelas" aria-expanded="false" aria-controls="pagesCollapseTabelas"
                            >Tabelas
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div
                        ></a>
                        <div class="collapse" id="pagesCollapseTabelas" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">Fatores para os Limites de Controle</a>
                            </nav>
                        </div>                    
                    </nav>
                    
                </div>
                <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i>
                        </div>
                        Carga Dados
                    </a>
                </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>