<h1 class="mt-4">Setor</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Cadastro</li>
</ol>
<div class="container">    
    <form #setorForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="errros.length>0">
                    {{errros}}
                </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">ID</span>
                    </div>
                    <input type="text" class="form-control" disabled="true" [ngModel]="objeto.id" name="id">
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Cadastro</span>
                    </div>
                    <input type="text" class="form-control" disabled="true" [ngModel]="objeto.dataCadastro" name="dataCadastro">
                </div>
            </div> 
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Empresas</button>
                      <div class="dropdown-menu">
                        <div *ngFor="let empresa of empresas">
                            <a class="dropdown-item" (click)="selecionarEmpresa(empresa.id)">{{ empresa.nomeReduzido }}</a>
                        </div>                        
                      </div>
                    </div>
                    <input type="text" class="form-control" disabled="true" aria-label="Selecione o setorno combo ao lado" [ngModel]="objeto.empresa.nomeReduzido" name="empresaSel">
                  </div>
            </div> 
                                                   
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Código</span>
                    </div>
                    <input type="text" class="form-control" disabled="true" [ngModel]="codigo" name="codigo">
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Nome*</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" [(ngModel)]="objeto.descricao" name="descricao">
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Abreviatura*</span>
                    </div>
                    <input type="text" class="form-control text-uppercase" [(ngModel)]="objeto.abreviado" name="nomeReduzido">
                </div>
            </div> 
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tipo</button>
                      <div class="dropdown-menu">
                        <div *ngFor="let tipo of tipoSetores">
                            <a class="dropdown-item" (click)="selecionarTipoSetor(tipo.id)">{{ tipo.descricao }}</a>
                        </div>                        
                      </div>
                    </div>
                    <input type="text" class="form-control" disabled="true" aria-label="Selecione o setorno combo ao lado" [ngModel]="objeto.tipoSetor.descricao" name="setorSel">
                  </div>
            </div> 
        </div>    
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="reset" class="btn btn-secondary ml-1">Limpar</button>
            </div>
        </div>       
    </form>
</div>